<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ./partial/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="home">
      <div class="container">
        <div class="home-box">
          <h3 class="home-heading">7Chat</h3>
        </div>
        <div class="start-button">
          <a href="/user/signin">
            <div class="button">시작하기</div> </a>
          <div class="schedule">구글스토어, 앱스토어 12월 출시예정</div>
        </div>
      </div>
    </div>
    <% include ./partial/footer.ejs %>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
