
.myheart-form {
  width: 360px;
  height: 160px;
  background: #f2e7f1;
}


#s_myheart {
  width: 70px;
  margin-top: 40px;
  margin-left: 50px;
}

.message-remainHeart {
  
  width: 150px;
  margin: 0;
  
  color: black;
  font-size: 20px;
}

input[type='button'] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(189, 186, 186);
  width: 60%;
  height: 40px;
  border: 0;
  margin-top: 30px;
  margin-left: 70px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

input[type='button']:hover,
input[type='button']:active,
input[type='button']:focus,
input[type='button']:link {
  background: #43A047;
}

table,
th,
td {
  margin-top: 70px;
  font-size: 14px;
  border: 1px solid rgb(95, 94, 94);
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}

table th {
  background-color: rgb(189, 186, 186);
}