<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../partial/head.ejs %>
  </head>
  <body>
    <div class="container">
      이용약관, 개인정보 수집 및 이용에 모두 동의합니다.
        <div class="clause">
        <div class="home-box">
          <h3 class="home-heading">7-Talk 이용약관 동의</h3>
        </div>
      </div>
      <div class="home-box">
        <h3 class="home-heading">개인정보 수집 및 이용에 대한 안내</h3>
      </div>
      <a href="/user/signin">
        <div class="button">비동의</div>
      </a>
      <a href="/user/signup">
        <div class="button">동의</div>
      </a>
      <div style="margin-top:100px;"></div>
    </div>
    <% include ../partial/footer.ejs %>
  </body>


</html>
