<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/myheart.css">
  <link rel="stylesheet" href="/css/topcommon.css">
  <title>myheart</title>
</head>

<body onload="getHeartAmount();">
  <div class="maching-page">
    <nav class='top_menu'>
      <ul>
        <li>
          <a href="/user/main" class='notunder'>
            <img id="myInfo" src="/images/004-user.png" alt="my_info_icon">
          </a>
        </li>
        <li>
          <a href="/chatting/chatroom" class='notunder'>
            <img id="heart" src="/images/003-heart-1.png" alt="maching_icon">
          </a>
        </li>
        <li>
          <a href="/posting" class='notunder'>
            <img id="post" src="/images/001-post-it.png" alt="post_icon">
          </a>
        </li>
      </ul>
    </nav>
    <form class="myheart-form">

      <img id="s_myheart" src="/images/002-big-heart.png" alt="myheart_icon">

      <span class="message-remainHeart">남은 하트 :
        <span id='heart_amount'> </span>개</span>
      <input type='button' onclick="location.href=location.origin + '/user/heart/charge'" value='충전하기'>
    </form>
    <table style="width:100%">
      <tr>
        <th>No.</th>
        <th>결재 금액</th>
        <th>날짜</th>
      </tr>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>

      </tr>
    </table>
  </div>
</body>
<script src="/js/charge_heart.js"></script>
</html>
