<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head.ejs %>
      <link rel="stylesheet" href="/css/userheart.css">
    <title>user-heart</title>
</head>
<body>
    <div class="maching-page">
        <div class="form">
            <form class="menu-form">
              <a href="/user/main"><img id="myInfo" src="/images/004-user.png" alt="my_info_icon">
              </a>
              <a href="/chatroom"><img id="heart" src="/images/003-heart-1.png" alt="maching_icon">
              </a>
              <a href="/posting/0/9"><img id="post" src="/images/001-post-it.png" alt="post_icon">
              </a>

            </form>


            <form class="myheart-form">

                <a href="/"><img id="s_myheart" src="/images/002-big-heart.png" alt="myheart_icon">
                </a>
                <p class="message-remainHeart">남은 하트 : 100개</p>
                <button><a href="/">충전하기</a></button>
            </form>
            <table style="width:100%">
                    <tr>
                      <th>No.</th>
                      <th>결재 금액</th>
                      <th>날짜</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td></td>
                      <td></td>

                    </tr>
                  </table>
        </div>
    </div>

</body>
</html>
