<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../partial/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/usermain.css">
  </head>
  <body>
    <div class="maching-page">
        <div class="form">
            <form class="menu-form">
                <a href="/user/main"><img id="myInfo" src="/images/004-user.png" alt="my_info_icon">
                </a>
                <a href="/chatting/chatroom"><img id="heart" src="/images/003-heart-1.png" alt="maching_icon">
                </a>
                <a href="/posting/0/9"><img id="post" src="/images/001-post-it.png" alt="post_icon">
                </a>
              </form>


    <div class="info">
      <div class="container">
        <div class="info-box">
          <h3 class="info-heading">정보 등록</h3>
          <div id="user-info">
            <form action="/api/user/info" method="post" id="form-info">
              <div class="row">
                <div class="seven columns">
                  <input type="text" placeholder="이름" name="name" id="name" />
                </div>
              </div>
              <div class="row">
                <div class="seven columns">
                  <input type="text" placeholder="성별(남성/여성/기타)" name="sex" id="sex" />
                </div>
              </div>
              <div class="row">
                <div class="seven columns">
                  <input type="date" placeholder="생일" name="birthday" id="birthday" />
                </div>
              </div>
              <div class="row">
                <div class="seven columns">
                  <input type="text" placeholder="나이" name="age" id="age" />
                </div>
              </div>
              <div class="row">
                <div class="seven columns">
                  <input type="text" placeholder="주소" name="address" id="address" />
                </div>
              </div>
              <div class="row">
                <div class="seven columns">
                  <input type="text" placeholder="휴대폰 번호" name="phoneNumber" id="phoneNumber" />
                </div>
              </div>
              <div class="row">
                <div class="seven columns">
                  <input type="textarea" placeholder="자기 소개" name="introduction" id="introduction" />
                </div>
              </div>
              <div class="submit button">
                등록
              </div>
            </form>
            <div style="width:200px;margin-top:50px;margin-bottom:50px"/>
          </div>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      $('.submit').click(submitData);


      function submitData(){
        var frm = document.getElementById('form-info');
        frm.method = 'POST';
        var userData = JSON.stringify($("#form-info").serializeObject());

        console.log("userdata", userData);

        $.ajax({
            url:'/api/user/info',
            type:'POST',
            contentType:'application/json; charset=utf-8',
            dataType: "json",
            data:userData,
            async:true,
            cache:false,
            processData:false,
            success: function (response){
              console.log(response);

              var url = "/user/interest";

              window.location.href = url;

            }
        });
      }

      jQuery.fn.serializeObject = function() {
         var obj = null;
         try {
             if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                 var arr = this.serializeArray();
                 if (arr) {
                     obj = {};
                     jQuery.each(arr, function() {
                         obj[this.name] = this.value;
                     });
                 }//if ( arr ) {
             }
         } catch (e) {
             alert(e.message);
         } finally {
         }

         return obj;
     };
    </script>

    <% include ../partial/footer.ejs %>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
