<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/gomaching.css">
    <title>7-Talk</title>
</head>

<body>
    <div class="maching-page">
        <div class="form">
            <form class="menu-form">
                <a href="/user/main">
                    <img id="myInfo" src="/images/004-user.png" alt="my_info_icon">
                </a>
                <a href="/chatting/chatroom">
                    <img id="heart" src="/images/003-heart-1.png" alt="maching_icon">
                </a>
                <a href="/posting">
                    <img id="post" src="/images/001-post-it.png" alt="post_icon">
                </a>
            </form>
            <img id="chat" src="/images/chat.png" alt="chat_icon">
            <form class="maching-form">
                <a href="/">
                    <img id="like" src="/images/like.png" alt="like_icon">
                </a>
                <a href="/">
                    <img id="arrow" src="/images/double-angle-pointing-to-right.png" alt="arrow_icon">
                </a>
                <a href="/matching">
                    <img id="like2" src="/images/like.png" alt="like2_icon">
                </a>
            </form>
            <form class "chatting-form">

                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </form>
        </div>
    </div>

</body>

</html>
