<!DOCTYPE html>
<html lang="ko">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%=title%></title>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  로그인에 성공하였습니다. 잠시만 기다려주세요.
  <script>
    var data = JSON.stringify(<%-userJson%>);

    //console.log(data);
    $(document).ready(function(){
      //console.log("ok");
      $.ajax({
          url:'/api/user/signin/kakao',
          contentType: "application/json; charset=utf-8",
          dataType   : "json",
          type:'POST',
          data:data,
          async:true,
          cache:false,
          processData:false,
          success: function (response){
            console.log("response :", response);

            if(response.error){
              // 로그인 에러
              $(".signup-email").append('로그인 오류입니다. 다시 시도해주세요.');
            }else{
              if(response.signin){
                // 로그인 성공
                var url = "/user/main?email=" + response.email + "&nickname=" + JSON.parse(data).nickname;
                window.location.href = url;
              }else{
                // 로그인 실패
                $(".signup-email").append('로그인에 성공하였습니다.');
              }
            }


          }
      });

    });

    //window.location.href = "/user/main";
  </script>
</body>
</html>
