<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../partial/head.ejs %>
  </head>
  <body>
  <div class="contanier">
    <div class="header mobile">
      <div class="title-img">
        <a href="/">
           <img src="/images/title-img.png" alt="">
        </a>
      </div>
    </div>
  </div>

    <div class="signin">
      <div class="signinup">
        <div id="localsignin">
          <h4 class="signin-title">로 그 인</h4>
          <form action="/user/signin/local" id="form-signin" method="post">
            <div class="row">
              <div class="seven columns">
                <input class="u-full-width" id="signin-email" type="text" placeholder="이메일을 입력해주세요." name="email"/><br/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signin-email feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input class="u-full-width" id="signin-password" type="password" placeholder="비밀번호" name="password"/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signin-password feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input type="submit" id="dataSend" value="로그인" />
              </div>
            </div>
          </form>
        </div>

        <div id="localsignup">
          <h4 class="signup-title">간편 회원가입</h4>
          <form action="/user/signup" id="form-signup" method="post">
            <div class="row">
              <div class="seven columns">
                <input class="u-full-width input-signup-email" type="email" placeholder="이메일을 입력해주세요." name="email" onchange="checkDuplicate(this)" /><br/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signup-email feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input id="signup-password" class="u-full-width" type="password" placeholder="비밀번호" name="password"/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signup-password feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input id="signup-confirm" class="u-full-width" type="password" placeholder="비밀번호 확인" name="confirm"/>
              </div>
            </div>
            <div class="row">
              <div class="seven columns signup-confirm feedback">

              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <input type="submit" id="dataSend" value="회원가입" />
              </div>
            </div>
            <div class="row">
              <div class="seven columns">
                <div class="signin-rule">
                  <span>회원가입</span>을 누르시면 <a href="#">이용약관 및 개인정보 취급방침</a>에 <span>동의</span>하신것으로 간주합니다.
                </div>
              </div>
            </div>
          </form>

          <div style="margin-top:100px;"></div>
        </div>
      </div>
    </div>
    <% include ../partial/footer.ejs %>
  </body>


</html>
