<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../partial/head.ejs %>
    <!-- Kakao -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  </head>
  <body>
  <div class="contanier">
    <div class="header mobile">
      <div class="title-img">
        <a href="/">
           <img src="/images/title-img.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="signup">
      <div id="localsignup">
        <h4 class="signup-title">회원가입</h4>
        <form action="/api/user/signup" id="form-signup" method="post">
          <div class="row">
            <div class="seven columns">
              <input class="u-full-width input-signup-email" type="email" placeholder="이메일을 입력해주세요." name="email" onchange="checkDuplicate(this)" /><br/>
            </div>
          </div>
          <div class="row">
            <div class="seven columns signup-email feedback">

            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <input id="signup-password" class="u-full-width" type="password" placeholder="비밀번호" name="password"/>
            </div>
          </div>
          <div class="row">
            <div class="seven columns signup-password feedback">

            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <input id="signup-confirm" class="u-full-width" type="password" placeholder="비밀번호 확인" name="confirm"/>
            </div>
          </div>
          <div class="row">
            <div class="seven columns signup-confirm feedback">

            </div>
          </div>
          <div class="row">
            <div class="seven columns">
              <div class="submit button" id="dataSend" value="회원가입">
                회원가입
              </div>
            </div>
          </div>
        </form>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=aede0a4ab03d60411c4252f0b5047284&redirect_uri=/user/oauth&response_type=code">카카오</a>


        <!-- -->
        <div id="kakaosignin">
          <div>
              <div class="row">
                  <div class="col-md-offset-1 col-md-5">
                      <!-- kakao login -->
                      <a id="kakao-login-btn"></a>
                      <a href="http://developers.kakao.com/logout"></a>
                  </div>
              </div>
              <div class="col-md-6">
                  <div ui-view></div>
              </div>
          </div>
        </div>

        <div style="margin-top:100px;"></div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">

      //<!-- 카카오 로그인
      //<![CDATA[
        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('e4df5948391d29028a6a2d63fcde17dc');
        // 카카오 로그인 버튼을 생성합니다.
        Kakao.Auth.createLoginButton({
          container: '#kakao-login-btn',
          success: function(authObj) {
            console.log(authObj);

            Kakao.API.request({
              url: '/v1/user/me',
              success: function(res){
                console.log(JSON.stringify(res));
                location.href="/user/oauth?nickname=" + res.properties.nickname + "&email=" + res.kaccount_email;
              },
              fail: function(error){
                console.log(JSON.stringify(error));
              }
            });

            var accessToken = authObj.access_token;
            var tokenType = authObj.token_type;
            var refreshToken = authObj.refresh_token;
            var expiresIn = authObj.expires_in;
            var scope = authObj.scope;

            Kakao.Auth.setAccessToken(accessToken);
            Kakao.Auth.setRefreshToken(refreshToken);

            var accessToken = Kakao.Auth.getAccessToken();
            var refreshToken = Kakao.Auth.getRefreshToken();
            console.log(accessToken);
            console.log(refreshToken);
          },
          fail: function(err) {
            alert(JSON.stringify(err));
          }
        });
      //]]>

      function kakaoLogout(){
        Kakao.Auth.logout(function(){
          setTimeout(function(){
            location.href="http://localhost:3000/pe/board/test";
          }, 1000);
        });
      }

      -->
      $(document).ready(function(){
        $('.signup-button').prop('disabled', true);
        $('.signup-button').addClass('disable-button');
        $("#signup-password").bind('input',function(){setTimeout (cmp_pass2(),500)});   // input의 값이 변경되면 0.5초 딜레이 후에 cmp_pass실행
        $("#signup-confirm").bind('input',function(){setTimeout (cmp_pass(),500)});

      function cmp_pass() {
         $('.signup-confirm').empty();
         if($("#signup-confirm").val() == $("#signup-password").val()) {
              if($("#signup-password").val().length >= 6){
                $('.signup-button').prop('disabled', false);
                $('.signup-button').text('회원가입 후 시작하기');
                $('.signup-button').addClass('button-primary');
                $('.signup-button').removeClass("disable-button");
               }
              else{
                $('.signup-button').prop('disabled', true);;
              }
           }
         else{
            $('.signup-button').prop('disabled', true);
            $(".signup-confirm").append("입력된 비밀번호가 다릅니다");
           }
        }
        function cmp_pass2() {
           $('.signup-password').empty();

            if($("#signup-password").val().length >= 6){
                }
            else{
              $('.signup-button').prop('disabled', true);
              $(".signup-password").append("비밀번호가 너무 짧습니다. 6글자 이상으로 해주세요.");

            }
          }


       });

       jQuery.fn.serializeObject = function() {
          var obj = null;
          try {
              if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                  var arr = this.serializeArray();
                  if (arr) {
                      obj = {};
                      jQuery.each(arr, function() {
                          obj[this.name] = this.value;
                      });
                  }//if ( arr ) {
              }
          } catch (e) {
              alert(e.message);
          } finally {
          }

          return obj;
      };

      $('.signup-button').click(function(){
        $(".signup-email").empty();
        var idx = $(this).parent().parent().parent().index();
        var frm = document.getElementById('form-signup');
        frm.method = 'POST';
        frm.enctype = "application/json; charset=utf-8";
        var userData = JSON.stringify($("#form-signup").serializeObject());
        //console.log(userData);
        $.ajax({
            url:'/api/user/signup',
            contentType: "application/json; charset=utf-8",
            dataType   : "json",
            type:'POST',
            data:userData,
            async:true,
            cache:false,
            processData:false,
            success: function (response){
              //console.log("response :", response);

              if(response.atCheck){
                if(response.error){
                  // 회원가입 에러
                  $(".signup-email").append('회원가입 오류입니다. 다시 시도해주세요.');
                }else{
                  if(response.duplicate){
                    // 회원 아이디 중복
                    $(".signup-email").append('아이디 중복입니다. 다시 시도해주세요.');
                  }else{
                    if(response.signup){
                      if(response.signin){
                        // 회원가입 성공, 로그인 완료
                        var url = "/user/main";
                        window.location.href = url;
                      }else{
                        // 회원가입 성공, 로그인 실패
                        $(".signup-email").append('회원가입에 성공하였습니다. 로그인해주세요.');
                      }
                    }else{
                      // 회원가입 에러
                      $(".signup-email").append('회원가입 에러입니다. 다시 시도해주세요.');
                    }
                  }
                }
              }else{
                $(".signup-email").append('잘못된 아이디 형식입니다. 아이디에 @을 포함해주세요.');
              }


            }
        });
      });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <% include ../partial/footer.ejs %>
  </body>
</html>
