<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head.ejs %>
  </head>
  <body>
    <script>
      window.location.href = "/chatting/<%=nickname%>/<%=topicName%>";
    </script>

    <% include ./../partial/footer.ejs %>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
