<!DOCTYPE html>
<html lang="ko">
  <head>
    <% include ../partial/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="main-box">
          <h3 class="main-heading">채팅방 목록</h3>
          <li><a href="/chatting/asdf/1">채팅방 1</a></li>
          <li><a href="/chatting/asdf/3">채팅방 2</a></li><li><a href="/chatting/asdf/3">채팅방 3</a></li><li><a href="/chatting/asdf/4">채팅방 4</a></li>
          <div id="match">
            <form action="/matching" method="post">
              <input type="text" name="nickname" id="nickname" />
              <input type="text" name="topicName" id="topicName" />
              <input type="submit" id="dataSend" value="send" />
            </form>
            <div style="width:200px;margin-top:50px;margin-bottom:50px"/>
          </div>
        </div>
      </div>
    </div>
    <% include ../partial/footer.ejs %>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
